<!--<div>
<img class="slide1" src="http://dummyimage.com/280x200/56AD30/fff.png&text=1" />
<img class="slide1" src="http://dummyimage.com/280x200/1560f0/fff.png&text=2" />
<img class="slide1" src="http://dummyimage.com/280x200/C03229/fff.png&text=3" />
</div>-->

<div style="text-align:center">
  <!--effect #1 -->
  <div class="slider-container">
    <div class="flexbox-slider flexbox-slider-1">
      <div class="flexbox-slide">
        <div>
          <img class="slide1" src="../assets/Img/edward-cisneros-411006-unsplash.jpg" />
          <img class="slide1" src="../assets/Img/nainoa-shizuru-80385-unsplash.jpg" />
          <img class="slide1" src="../assets/Img/noiseporn-247586-unsplash.jpg" />
        </div>
        <div class="text-block">
          <h3>TAG Global Touring</h3>
          <div class="text">
            <p>
              TAG Global Touring is a specialist music tour and production management company, servicing artists of all genres and sizes. In collaboration with tour and production managers, the team directs every element of the artists’ tour and travel itineraries.
            </p>
          </div>
        </div>
      </div>
      <div class="flexbox-slide">
        <div>
          <img class="slide1" src="../assets/Img/anete-lusina-609856-unsplash.jpg" />
          <img class="slide1" src="../assets/Img/felix-russell-saw-609922-unsplash.jpg" />
          <img class="slide1" src="../assets/Img/rawpixel-com-550994-unsplash.jpg" />
        </div>
        <div class="text-block">
          <h3>TAG Global Corporate Travel</h3>
          <div class="text">
            <p>
              Our large client base is diverse – covering everything from corporate, financial, law, music, media and entertainment to blue chip and hedge funds sectors. Through this, we have gained extensive experience in all areas of global travel management.
            </p>
          </div>
        </div>
      </div>
      <div class="flexbox-slide">
        <div>
          <img class="slide1" src="../assets/Img/timothy-eberly-382663-unsplash.jpg" />
          <img class="slide1" src="../assets/Img/jakob-owens-202697-unsplash.jpg" />
          <img class="slide1" src="../assets/Img/chris-lawton-172561-unsplash.jpg" />
        </div>
        <div class="text-block">
          <h3>TAG Global Film and Media</h3>
          <div class="text">
            <p>
              TAG Global Film & Media provides a fully comprehensive service, and we are well known for going far beyond the standards of other logistics management companies.
            </p>
          </div>
        </div>
      </div>


    </div>
  </div>
